/* style.css */

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: inline-block;
    margin-right: 20px;
}

.nav-menu li:last-child {
    margin-right: 0;
}

.nav-menu li a {
    text-decoration: none;
    color: #333;
}

/* Auth buttons */
.auth-buttons {
    display: flex;
    align-items: center;
}

.btn {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.btn-signup {
    background-color: #ff4d4d;
    margin-left: auto;
    margin-right: 20px; /* Sağ kenara 20px boşluk bırak */
}

/* Hero */
.hero {
    background-color: #f0f0f0;
    padding: 50px 0;
    text-align: center;
}

.hero-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-subtitle {
    font-size: 18px;
    margin-bottom: 20px;
}

.email-form input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
}

.email-form button {
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.email-form button:hover {
    background-color: #e50000;
}
